* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
}
#root {
  background: black;
  height: 100vh;
}

.inner-container {
  margin: auto;
  padding-top: 10%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fields input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  color:white;
  background-color: black;
  outline: none;
  font-size: 16px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.815);
}
.display {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.error {
  color: red;
}
.success {
  color: green;
}
.btn {
  font-size: 15px;
  width: 100px;
  padding:5px;
}